# Firebase config
practice-firebase-webdmitriev/GoogleService-Info.plist

# Xcode
*.xcuserdata
*.xcuserstate
*.xcuserdatad
.DS_Store

# Build artifacts
build/
DerivedData/

# Swift Package Manager
Packages/
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.swp
*.lock
